.list-item{
    display: flex;
    gap: 8px;
    align-items:center;
    
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
    }
    
    .list-item__block{
    display: flex;
    gap: 16px;
    flex-direction: column;
    }
    
    .list-item__title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    }
    
    .list-item__content{
    display: flex;
    align-items:center;
    gap: 8px;
    }